<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/9c35772714.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' href='static/css/style.css'>
  <title>Resume</title>
</head>
<body data-spy='scroll' data-target='#main-nav' id='home'>
  <div class="container">
    <header id="main">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="static/img/Jonathan.jpg" alt="Picture of Me">
        </div>
        <div class="col-md-7">
          <div class="d-flex flex-column name-class">
            <div class="bg-dark text-white p-5 d-flex flex-row name-class">
              <div class="text-center">
                <h1 class="display-4">Jonathan Silverstein</h1>
                <h5 class="text-muted">Full Stack Web Developer and Machine Learning</h5>
              </div>
            </div>
            <div class="border border-dark p-4 d-none d-lg-block flex-row bg-success font-size-em-8">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <h2>Development Experience</h2>
                  </div>
                  <ul class="card-text">
                    <li>
                      <p>
                        <span class="font-weight-bold">Backend Development</span>:
                        Flask (2 years), SQL (1 year), PHP (2 years), FastAPI (1 year), Node.js (1 year)
                      </p>
                    </li>
                    <li>
                      <p>
                        <span class="font-weight-bold">Frontend Development</span>:
                        HTML/CSS (2 years), Reactjs (2 years), Bootstrap (1 year)
                      </p>
                    </li>
                    <li>
                      <p>
                        <span class="font-weight-bold">Devops</span>:
                        AWS (2 years), Docker (1 year), Kubernetes (1 year), CI/CD (1 year)
                      </p>
                    </li>
                    <li>
                      <p>
                        <span class="font-weight-bold">Data Analysis</span>:
                        Numpy (1 year), Pandas (1 year), Sklearn (1 year), NLTK (1 year)
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="exeperience">
      <div class="row">
        <div class="col-12">
          <div class="border border-dark p-4 d-block d-lg-none font-size-em-8 flex-row bg-success">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h2>Development Experience</h2>
                </div>
                <ul class="card-text">
                  <li>
                    <p>
                      <span class="font-weight-bold">Backend Development</span>:
                      Flask (2 years), SQL (1 year), PHP (2 years), FastAPI (1 year), Node.js (1 year)
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="font-weight-bold">Frontend Development</span>:
                      HTML/CSS (2 years), Reactjs (2 years), Bootstrap (1 year)
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="font-weight-bold">Devops</span>:
                      AWS (2 years), Docker (1 year), Kubernetes (1 year), CI/CD (1 year)
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="font-weight-bold">Data Analysis</span>:
                      Numpy (1 year), Pandas (1 year), Sklearn (1 year), NLTK (1 year)
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="jobs">
      <div class="row">
        <div class="col-12">
          <div class="border border-dark p-4 d-block flex-row font-size-em bg-primary">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h2>Work</h2>
                </div>
                <div class="card-deck">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title">
                        <h5>FICO</h5>
                      </div>
                      <div class="card-subtitle text-muted p-2">Software Developer (January 2020 - Present)</div>
                      <div class="card-text">
                        While at FICO, I developed our customer facing API
                        and maintained our scanning infrastructure.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title">
                        <h5>Academix.Bio</h5>
                      </div>
                      <div class="card-subtitle text-muted p-2">Intern (May 2019 - July 2020)</div>
                      <div class="card-text">
                        During my time at Academix, I built a number of NLP pipelines,
                        including a search engine on 10 million academic papers.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title">
                        <h5>US Circuit Court</h5>
                      </div>
                      <div class="card-subtitle text-muted p-2">Intern (May 2018 - July 2018)</div>
                      <div class="card-text">
                        At the Court, I built an upgrade to the internal website,
                        as well as took inventory.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="education_projects">
      <div class="row no-gutters">
        <div class="col-12 col-md-5">
          <div class="border border-dark p-4 flex-column name-class font-size-em bg-danger">
            <div class="card name-class">
              <div class="card-body">
                <span class='font-weight-bold'>BSE Data Science</span>
                <p>University of Michigan</p>
                <p class='text-muted'>Magna Cum Laude, GPA: 3.63
                  (September 2017 - December 2019)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="border border-dark p-4 d-block flex-row font-size-em bg-warning">
            <div class="card">
              <h2 class="p-2">Projects</h2>
              <div class="card-deck">
                <div class="card border-0">
                  <div class="card-title h4 m-3">Ranking</div>
                  <div class="card-body">Website for assessing the performance of
                  different chess teams, in an online chess league</div>
                </div>
                <div class="card border-0">
                  <div class="card-title h4 m-3">Movie Classifier</div>
                  <div class="card-body">Project, using CNNs, to classify
                  movie posters into different movie genres</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
  // Get current year for the copyright
  $('#year').text(new Date().getFullYear());

  $('body').scrollspy({ target: '#main-nav' });

    // Add smooth scrolling`
    $('#main-nav a').on('click', function(e) {
      // Check for a hash
      if(this.hash !== '') {
        e.preventDefault();
        const hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function() {
          window.location.hash = hash;
        });
      }
    });

  </script>
</body>
</html>
